In [1]:
import numpy as np
import pandas as pd

categorical series creation

In [3]:
pd.Series(["a", "b", "c", "a"], dtype="category")

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [4]:
df = pd.DataFrame({"A":["a", "b", "c", "d"]})

In [5]:
df

   A
0  a
1  b
2  c
3  d

In [6]:
df["B"] = df["A"].astype("category")

In [7]:
df

   A  B
0  a  a
1  b  b
2  c  c
3  d  d

In [9]:
df["A"].dtype

dtype('O')

In [10]:
df["B"].dtype

CategoricalDtype(categories=['a', 'b', 'c', 'd'], ordered=False)

In [3]:
raw_cat = pd.Categorical(
    ["a", "b", "c", "a"], categories=["b", "c", "d"], ordered=False
)

In [4]:
s = pd.Series(raw_cat)

In [5]:
s

0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (3, object): ['b', 'c', 'd']

### dataframe creation

In [6]:
df = pd.DataFrame({"A":list("abca"), "B":list("bccd")}, dtype="category")

In [7]:
df

   A  B
0  a  b
1  b  c
2  c  c
3  a  d

In [8]:
df.dtypes

A    category
B    category
dtype: object

In [9]:
df.A

0    a
1    b
2    c
3    a
Name: A, dtype: category
Categories (3, object): ['a', 'b', 'c']

In [10]:
df.B

0    b
1    c
2    c
3    d
Name: B, dtype: category
Categories (3, object): ['b', 'c', 'd']

In [11]:
df = pd.DataFrame({"A":list("bccd"), "B":list("abca")})

In [13]:
df.dtypes

A    object
B    object
dtype: object

In [14]:
df_cat = df.astype("category")

In [15]:
df_cat.dtypes

A    category
B    category
dtype: object

In [16]:
df_cat["A"]

0    b
1    c
2    c
3    d
Name: A, dtype: category
Categories (3, object): ['b', 'c', 'd']

In [17]:
df_cat["B"]

0    a
1    b
2    c
3    a
Name: B, dtype: category
Categories (3, object): ['a', 'b', 'c']