In [1]:
import numpy as np
import pandas as pd

### explicitly request the string dtype

In [2]:
pd.Series(["a", "b", "c"])

0    a
1    b
2    c
dtype: object

In [3]:
pd.Series(["a", "b", "c"], dtype="string")

0    a
1    b
2    c
dtype: string

In [5]:
pd.Series(["a", "b", "c"], dtype=pd.StringDtype())

0    a
1    b
2    c
dtype: string

In [6]:
s = pd.Series(["a", "b", "c"])

In [9]:
s = s.astype("string")

In [10]:
s

0    a
1    b
2    c
dtype: string

In [11]:
s = pd.Series(["a", 2, np.nan])

In [12]:
s

0      a
1      2
2    NaN
dtype: object

In [13]:
type(s[1])

int

In [14]:
s = s.astype("string")

In [15]:
type(s[1])

str

In [16]:
type(s[2])

pandas._libs.missing.NAType

In [17]:
s

0       a
1       2
2    <NA>
dtype: string

### string methods

In [19]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"], dtype="string")

In [20]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5    <NA>
6    CABA
7     dog
8     cat
dtype: string

In [21]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5    <NA>
6    caba
7     dog
8     cat
dtype: string

In [22]:
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5    <NA>
6    CABA
7     DOG
8     CAT
dtype: string

In [23]:
s.str.len()

0       1
1       1
2       1
3       4
4       4
5    <NA>
6       4
7       3
8       3
dtype: Int64